@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600&display=swap');

$raleway: 'Raleway', sans-serif;

// Font sizes
$cardNumber: 32px;
$bigTitle: 24px;
$bigText: 20px;
$normal: 16px;
$medium: 14px;
$small: 12px;

// weight
$weightBlack: 900;
$weightBold: 700;
$weightMedium: 500;
$weightNormal: 400;
$weightLight: 100;