.about{
    margin: 0 0 10px 0;
    background-color: rgba(236, 236, 250, 0.933);
    padding: 15vh;

    &__title{
        margin-top: 50px;
        text-align: center;
    }

    &__text{

    }
}