.banner{
    background-color: rgba(236, 236, 250, 0.933);

    .aws-sld{
        &__wrapper{
            height: 80vh;
        }

        &__box{
            z-index: 1;
        }

        &__next, &__prev{
            z-index: 2;
        }
        
        &__bullets{
            bottom: 50px;
            z-index: 2;

            button{
                background: white;
                border: none;
            }

            &--active{
                background: black;
                border: none;
            }
        }
    }
}